<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryx.mapper.CommonMapper">

    <select id="getCodeTable" resultType="com.ryx.model.CodeTable">
        select dm_type,dm,dmmc,px,yxbz,bz from c##db_rongyixin.t_ryx_dmb dm where dm.dm_type=#{dmType} and  dm.yxbz='Y' order by px
    </select>
</mapper>